.inlineBlock {
  display: inline-block;
}

.displayBlock {
  display: block;
}

.paddingReset {
  padding: 0;
}

.wrapper {
  background-image: url('../../../static/bg-sms-track.png');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-color: #274652;
  padding: 17px 15px;
  min-height: 100vh;
  font-family: 'Lato';
}

.companyInfo {
  min-height: 50px;
  color: #eff0f1;
  margin-bottom: 17px;
}

.companyLogo {
  width: 50px;
  border-radius: 4px;
}

.companyName {
  display: block;
  font-size: 24;
  line-height: 25px;
  padding-top: 6px;
  font-weight: 100;
}

.eta {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #f90;
  z-index: 1;
  color: #eff0f1;
  font-weight: 100;
  height: auto;
  min-width: 170px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  font-size: 15px;
}

.eta .label {
  font-size: 12px;
  background-color: #fd8e2a;
  font-weight: normal;
  padding: 12px;
  border-radius: 2px 0px 0px 2px;
}

.eta .time {
  padding: 10px;
  width: 100%;
  text-align: center;
  letter-spacing: 0.5px;
}

.courierInfo {
  background-color: #eff0f1;
  display: flex;
  height: 70px;
  align-items: center;
}

.courierPhoto {
  flex-grow: 1;
  text-align: center;
}

.courierAvatar {
  font-size: 50px;
  color: #536e7b;
}

.courierPhoto .img {
  width: 50px;
  border-radius: 100%;
}

.courierName {
  flex-grow: 7.5;
}

.courierName .name {
  display: block;
  font-size: 130%;
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: #536e7b;
  text-overflow: ellipsis;
}

.courierName .label {
  font-size: 90%;
  display: block;
  color: #0097a7;
}

.callCourierBtn {
  height: 100%;
  flex-grow: 2.5;
}

.callCourierBtn .icon {
  font-size: 35px;
}

.callCourierBtn .btn {
  background-color: #0097a7;
  color: #eff0f1;
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jobInfo {
  text-align: center;
  padding: 20px 0;
  color: #eff0f1;
}

.jobInfo .label {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}

.jobInfo .description {
  display: block;
  font-size: 23px;
  font-weight: 100;
  padding: 5px 0;
}

.sherpafleetlogo {
  width: 115px;
}

.text {
  font-weight: bold;
  font-size: 23px;
  margin: 40px 0;
}

.courierDesktopAlign {
  padding: 0;
}

.notFound {
  position: absolute;
  left: 0;
  top: calc(50% - 90px);
  color: white;
  font-weight: 100;
  font-size: 2em;
  text-align: center;
  width: 100%;
}

.poweredBy {
  color: #8ea4ad;
  position: relative;
  top: 2px;
  right: 4px;
  font-size: 15px;
  font-weight: 300
}

.logoFooter {
  position: absolute;
  bottom: 50%;
  left: 0;
}

@media (min-width: 992px) {
  .wrapper {
    background-image: url('../../../static/bg-sms-track-desktop.png');
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center
  }

  .row {
    width: 100%,
  }

  .companyInfo {
    text-align: center;
    margin-bottom: 0;
  }

  .courierName .name {
    max-width: 130px;
  }

  .companyLogo {
    width: 70px;
    margin-bottom: 10px;
  }

  .companyName {
    font-size: 34px;
  }

  .eta {
    top: 315px;
  }

  .courierInfo {
    padding: 0;
  }

  .jobInfo {
    padding: 0;
  }

  .infoDesktopAlign {
    display: flex;
    height: 350px;
    align-items: center;
  }

  .courierDesktopAlign {
    position: relative;
    top: -50px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.2), 0 5px 5px rgba(0,0,0,0.2);
  }

  .notFound {
    position: absolute;
    top: calc(50% - 90px);
    color: white;
    font-weight: 100;
    font-size: 3em;
  }

  .logoFooter {
    position: initial;
  }
}
